_init__.py
*.pyc
.*.swp
.#*
#*#
*~
Demo/DemoAnalyzer/Inputs
Demo/DemoAnalyzer/Outputs
Demo/DemoAnalyzer/tmp
Demo/DemoAnalyzer/PlotMaker/plots
Demo/DemoAnalyzer/*.root
Alignment/*
AnalysisAlgos/*
AnalysisDataFormats/*
BigProducts/Simulation/*
CalibCalorimetry/*
CalibFormats/*
CalibMuon/*
CalibTracker/*
Calibration/*
CaloOnlineTools/*
CommonTools/*
CondCore/*
CondFormats/*
CondTools/*
Configuration/*
DPGAnalysis/*
DQM/*
DQMOffline/*
DQMServices/*
DataFormats/*
DetectorDescription/*
DiffractiveForwardAnalysis/*
Documentation/*
EgammaAnalysis/*
ElectroWeakAnalysis/*
EventFilter/*
FWCore/*
FastSimDataFormats/*
Refactoring/*
FastSimulation/*
Fireworks/*
GeneratorInterface/*
Geometry/*
GeometryReaders/XMLIdealGeometryESSource/*
HLTrigger/*
HLTriggerOffline/*
HeavyFlavorAnalysis/*
HeavyIonsAnalysis/Configuration/*
HeterogeneousCore/CUDAServices/plugins/*
HiggsAnalysis/*
IOMC/*
IOPool/*
IORawData/*
IgTools/IgProf/*
JetMETAnalysis/*
JetMETCorrections/*
L1Trigger/*
L1TriggerConfig/*
L1TriggerOffline/L1Analyzer/*
MagneticField/*
Mixing/Base/*
MuonAnalysis/*
OnlineDB/*
PerfTools/*
PhysicsTools/*
QCDAnalysis/*
RecoBTag/*
RecoBTau/*
RecoCTPPS/*
RecoCaloTools/*
RecoEcal/*
RecoEgamma/*
RecoHI/*
RecoJets/*
RecoLocalCalo/*
RecoLocalFastTime/*
RecoLocalMuon/*
RecoLocalTracker/*
RecoLuminosity/*
RecoMET/*
RecoMTD/*
RecoMuon/*
RecoParticleFlow/*
RecoPixelVertexing/*
RecoRomanPot/*
RecoTBCalo/*
RecoTauTag/*
RecoTracker/*
RecoVertex/*
SLHCUpgradeSimulations/*
SUSYBSMAnalysis/HSCP/*
SimCalorimetry/*
SimDataFormats/*
SimFastTiming/*
SimG4CMS/*
SimG4Core/*
SimGeneral/*
SimMuon/*
SimRomanPot/*
SimTracker/*
SimTransport/HectorProducer/*
TBDataFormats/*
TauAnalysis/MCEmbeddingTools/*
TopQuarkAnalysis/*
TrackPropagation/*
TrackingTools/*
Utilities/*
Validation/*

